<% title "CRM Opportunities" %>

<%= render_app_partial 'object/actionlinks', :locals => { :options => {:add_url => new_object_path, :show_search => true}} %>

<%= render :partial => "search" %>

<%= display_flashes %>

<% if @search %>
	<h3 class="search_title">
		Search results: 
		<a href="<%= object_path %>" class="clear_search_link">show all</a>
	</h3>
<% end %>

<% if @opportunities.size > 0 then %>
  <% paging_section @opportunities do %>
  	<table class="datagrid opportunities_grid" id="opportunities_grid">
  		<thead>
  			<tr class="heading">
  				<th class="info">Info</th>
  				<th class="actions">Actions</th>
  		  </tr>
  		</thead>
  		<tbody>
  		<% for opportunity in @opportunities %>
  			<tr class="<%= cycle('row-odd', 'row-even')%>" id="crm_<%= dom_id(opportunity) %>">
  				<td class="info">
  				  <table>
  				    <tr>
  				      <td class="summary">
  				        <strong>[<%= opportunity.costcenter.humanize %>] <%= opportunity.to_s('name') %> - <%= opportunity.account.to_s('name') %></strong>
  				      </td>
  				      <td class="details">
  				        <strong><%= opportunity.billingmethod.upcase %></strong><% if opportunity.is_billingmethod?(:fp) %> (<%= round opportunity.budget %> &euro;)<% end %>
  				      </td>
  				      <td class="probability <%= probability_status_class(opportunity.probability, opportunity.status) %>" rowspan="2">
  				        <div><%=opportunity.probability %></div>
  				      </td>
  				    </tr>
  				    <tr>
  				      <td class="summary"><%= opportunity.start_date %> - <%= opportunity.end_date %></td>
  				      <td class="details">
  				        <% if opportunity.is_option?(:option_1) %>
  				          <%= round opportunity.perc_work %> % - FTE: <%= opportunity.fte %>
  				        <% else %>
  				          MAX: <%= opportunity.max_days %> day(s)
  				        <% end %>
  				      </td>
  				    </tr>
  				  </table>
  				</td>
  				<td class="actions norowlink">
  				  <%= render_app_partial 'object/recordlinks', :locals => { :options => {:object => opportunity, :ns => :crm}} %>
  				</td>
  			</tr>
  		<% end %>
  		</tbody>
  	</table>
	<% end %>
	<table class="legend">
	  <tr>
	      <td class="example"><div class="example status_pending">&nbsp;</div></td>
	      <td class="desc">Status pending</td>
	      <td class="example"><div class="example status_at_client">&nbsp;</div></td>
	      <td class="desc">Status at client</td>
	      <td class="example"><div class="example status_lost">&nbsp;</div></td>
	      <td class="desc">Status lost</td>
	      <td class="example"><div class="example status_won">&nbsp;</div></td>
	      <td class="desc">Status won</td>
	      <td class="example"><div class="example status_closed">&nbsp;</div></td>
	      <td class="desc">Status closed</td>
	  </tr>
	</table>
<% else %>
	<p class="noresults">
		<% if @search %>
			No <%= controller.controller_name %> could be found using your search criteria:<br/>
			<table class="search_criteria">
				<% @search.each do |field, value| %>
					<tr>
						<td class="field"><%= field.humanize %>:</td>						
						<td class="value"><%= value %></td>						
					</tr>
				<% end %>
			</table>
			<br/>
			<p align="center">
				<input type="button" name="all" value="Show all" class="clear_search_btn" id="<%= controller.controller_name %>_clear_search_btn" />
			</p>
		<% else %>
			There are currently no opportunities added in the system.
			<% if @page then %><br/>(on page <%=@page%>)<% end %>
		<% end %>
	</p>
<% end %>