<div class="clear">&nbsp;</div>
<div id="footer">
	<div class="app-version">
	  <a href="<%= changelog_path %>" title="Changelog" class="application"><%= s('app.name') %> v.<%= s('app.version') %> build <%= s('app.build_date') %>, <%= s('app.build') %></a> | 
	  Constructed by: &copy; <a href="<%= s('support.url') %>" title="<%= s('support.name') %>" target="_blank"><%= s('support.name') %></a> 2008
	</div>
</div>		    
<br style="clear:both"  />